<div class="row mT30">
	<div class="col-sm-12">
		<h1>Gastos corriente</h1>
		<h2 class="mB0">Total Disponible 2015</h2>
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-12 title-wrapper text-center inline-title">
		Asistencia Técnica
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-6 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 subtitle">
			Presupuesto 2015
		</div>
		<div class="col-sm-12 font-size-xl">
			$1,316,571.00
		</div>
	</div>
	<div class="col-sm-6 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 subtitle">
			Disponible 2015
		</div>
		<div class="col-sm-12 font-size-xl">
			$45,576.94
		</div>
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-12 title-wrapper inline-title text-center ">
		Gastos corriente
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-6 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 subtitle">
			Presupuesto 2015
		</div>
		<div class="col-sm-12 font-size-xl">
			$1,316,571.00
		</div>
	</div>
	<div class="col-sm-6 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 subtitle">
			Disponible 2015
		</div>
		<div class="col-sm-12 font-size-xl">
			$45,576.94
		</div>
	</div>
</div>