<div ng-if="pageData.transformedData.venta">
	<div class="row mT30">
		<div class="col-sm-12">
			<h1>Venta</h1>
		</div>
	</div>
	<div class="row row-eq-height">
		<div class="col-sm-4 mT20 gray-wrapper" ng-repeat="(key, value) in pageData.transformedData.venta.channels">
			<div class="col-sm-12 title-wrapper mB15">
				{{value.label}}
			</div>
			<div class="col-sm-12">
				<div class="row">
					<div class="col-md-5">
						<img ng-src="img/{{key}}_color.svg" class="maxw-100">
					</div>
					<div class="col-md-7">
						<table class="table" ng-repeat="info in value.info">
							<tr>
								<th>{{info.data.date | date: 'MMMM yy'}}</th>
							</tr>
							<tr>
								<td>{{info.data.quantity | currency}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>