<div class="row row-eq-height">
	<div class="col-sm-12 title-wrapper inline-title">
		INGRESOS NO FINANCIEROS
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			$39,663
		</div>
	</div>
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			$57,410
		</div>
	</div>
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			$72,817
		</div>
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-6 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 subtitle">
			Presupuesto 2015
		</div>
		<div class="col-sm-12 font-size-xl">
			$39,663
		</div>
	</div>
	<div class="col-sm-6 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			72%
		</div>
	</div>
</div>
