<div class="row row-eq-height">
	<div class="col-sm-12 title-wrapper inline-title">
		INSTALACIONES
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 p15">
			<canvas id="pie" class="chart chart-pie" chart-legend="true"
			  chart-data="piedata" chart-labels="pielabels">
			</canvas> 
		</div>
	</div>
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 p15">
			<canvas id="pie" class="chart chart-pie" chart-legend="true"
			  chart-data="piedata" chart-labels="pielabels">
			</canvas> 
		</div>
	</div>
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 p15">
			<canvas id="pie" class="chart chart-pie" chart-legend="true"
			  chart-data="piedata" chart-labels="pielabels">
			</canvas> 
		</div>
	</div>
</div>