<div class="row">
	<div class="col-sm-12">
		<h1>Resumen</h1>
	</div>
</div>

<div class="row row-eq-height" sticky>
	<div class="col-sm-4 title-wrapper lighter inline-title">
		Noviembre 2015
	</div>
	<div class="col-sm-4 title-wrapper lighter inline-title">
		Diciembre 2015
	</div>
	<div class="col-sm-4 title-wrapper lighter inline-title">
		TOTAL 2015
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-12 title-wrapper inline-title">
		TOTAL DE TRANSACCIONES
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			48,679,357
		</div>
		<div class="col-sm-12 p15">
			<canvas id="pie" class="chart chart-pie" chart-legend="true"
			  chart-data="piedata" chart-labels="pielabels">
			</canvas> 
		</div>
	</div>
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			48,679,357
		</div>
		<div class="col-sm-12 p15">
			<canvas id="pie" class="chart chart-pie" chart-legend="true"
			  chart-data="piedata" chart-labels="pielabels">
			</canvas> 
		</div>
	</div>
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			48,679,357
		</div>
		<div class="col-sm-12 p15">
			<canvas id="pie" class="chart chart-pie" chart-legend="true"
			  chart-data="piedata" chart-labels="pielabels">
			</canvas> 
		</div>
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-12 title-wrapper inline-title">
		TRANSACCIONES PROMEDIO POR CAJERO
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			6,626
		</div>
	</div>
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			6,626
		</div>
	</div>
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			6,626
		</div>
	</div>
</div>

<div class="row row-eq-height">
	<div class="col-sm-12 title-wrapper  inline-title">
		ATM's DE MÁS TRANSACCIONES
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-12 title-wrapper purple inline-title">
		ATM’s con más de 7 mil transacciones
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			3,329
		</div>
	</div>
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			3,329
		</div>
	</div>
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			3,329
		</div>
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-12 title-wrapper purple inline-title">
		ATM’s con más de 10 mil transacciones
	</div>
</div>
<div class="row row-eq-height">
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			1,106
		</div>
	</div>
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			1,106
		</div>
	</div>
	<div class="col-sm-4 gray-wrapper mT20 pT20 text-center">
		<div class="col-sm-12 font-size-xl">
			1,106
		</div>
	</div>
</div>


