<div class="container-fluid">
	<div class="row mT30">
		<div class="col-sm-12">
			<h1>Muy pronto...</h1>
		</div>
	</div>
	<!-- sección transacciones-->
	<!-- <ng-include src="'views/partials/atms/transacciones.html'"></ng-include> -->
	<!-- sección infraestructura-->
	<!-- <ng-include src="'views/partials/atms/infraestructura.html'"></ng-include> -->
	<!-- sección instalaciones-->
	<!-- <ng-include src="'views/partials/atms/instalaciones.html'"></ng-include> -->
	<!-- sección instalaciones-->
	<!-- <ng-include src="'views/partials/atms/ingresos_no_financieros.html'"></ng-include> -->
</div>
