<!-- AQUÍ SE CONSTRUYE LA PANTALLA DE INICIO O RESUMEN-->
<div class="container-fluid" >
	<!-- sección transacciones-->
	<ng-include src="'views/partials/home/transacciones.html'"></ng-include>
	<!-- sección infraestructura-->
	<ng-include src="'views/partials/home/infraestructura.html'"></ng-include>
	<!-- costo transaccion-->
	<!-- <ng-include src="'views/partials/home/costo_transaccion.html'"></ng-include> -->
	<!-- clientes atendidos-->
	<ng-include src="'views/partials/home/clientes_atendidos.html'"></ng-include>
	<!-- venta-->
	<ng-include src="'views/partials/home/venta.html'"></ng-include>
	<!-- gastos de viaje-->
	<!-- <ng-include src="'views/partials/home/gastos_viaje.html'"></ng-include> -->
	<!-- gastos corriente-->
	<!-- <ng-include src="'views/partials/home/gastos_corriente.html'"></ng-include> -->
</div>